.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--cscu-white);
  border-bottom: 1px solid var(--cscu-light-grey);
}

.banner {
  background-color: var(--cscu-blue);
  color: var(--cscu-white);
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.6rem 3vw .5rem;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  background-color: var(--cscu-blue);
  color: var(--cscu-white);
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.desktopNav {
  display: flex;
  gap: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.desktopNav a {
  font-weight: 500;
  color: var(--cscu-black);
  white-space: nowrap;
  padding-top: 7px;
  font-size: .9rem;
}

.desktopNav a:hover {
  color: var(--cscu-blue);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.mobileMenu {
  display: none;
  position: relative;
}

.menuIcon {
  font-size: 2rem;
  cursor: pointer;
  list-style: none;
  /* remove default arrow */
}

.menuIcon::-webkit-details-marker {
  display: none;
}

.mobileNavItems {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--cscu-white);
  border: 1px solid var(--cscu-light-grey);
  display: flex;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobileNavItems a {
  padding: 1rem;
  border-bottom: 1px solid var(--cscu-light-grey);
  color: var(--cscu-black);
  font-weight: 400;
}

@media (max-width: 1100px) {
  .desktopNav {
    display: none;
  }

  .mobileMenu {
    display: block;
  }
}

.ctaButton {
  display: inline-block;
  margin-top: 5px;
  padding: 0.75rem 1.5rem;
  font-family: var(--font-inter), var(--font-open-sans), sans-serif;
  font-weight: 600;
  font-size: .9rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  width: fit-content;
  background-color: var(--cscu-blue);
  color: var(--cscu-white);
}

.ctaButton:active,
.ctaButton:focus,
.ctaButton:hover {
  background-color: #0e1644;
}

@media (max-width: 600px) {
  .ctaButton {
    display: none;
  }
}
.activeLink {
  font-weight: 700 !important;
  color: var(--cscu-blue) !important;
}
